body, html {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    position: relative;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    
}

.advice {
    background-color: hsl(217, 19%, 24%);
    max-width: 450px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    position: relative;
}

#adviceID {
    color: hsl(150, 100%, 66%);
    padding: 10px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 3px;
}


/* .break {
    font-size: 15px;
    padding-bottom: 20px;

} */

#btn {
    padding: 12px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

hr {
    width: 50px;
}
/* .break::before {
    content: '';
    border: 1px solid;
} */

.divider {
    padding: 20px 0;
}

svg {
    display: block;
    margin: auto;
}

.hidden {
    display: none;
}
.loader {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
   }
   
   circle {
    fill: none;
    stroke: hsl(150, 100%, 66%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   
