body, html {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
}

.advice {
    background-color: hsl(217, 19%, 24%);
    max-width: 450px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    position: relative;
}

#adviceID {
    color: hsl(150, 100%, 66%);
    padding: 10px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 3px;
}


#btn {
    padding: 12px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

hr {
    width: 50px;
}

.divider {
    padding: 20px 0;
}

.mobile-divider {
    display: none;
}

svg {
    display: block;
    margin: auto;
}

.hidden {
    display: none;
}

.attribution {
    align-self: self-end;
}

@media screen  and (max-width:400px){
    .advice {
        background-color: hsl(217, 19%, 24%);
        max-width: 375px;
        height: auto;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        color: white;
        position: relative;
    }
    
    .divider {
        display: none;
    }

    .mobile-divider {
        display: block;
    }
}

   
